    /**@media (max-width: 1024px) {**/
    html {
        overflow: hidden;
    }
    
    body {
        margin: 0px;
        padding: 0px;
    }
    
    props_show_off{
        display: none;
    }

    props_show_on{
        display: contents;
    }
    
    .main_back {
        width: 100%;
        height: 120%;
        position: absolute;
        left: 0px;
        top: 0px;
        z-index: 7;
    }

    .off_back {
        width: 100%;
        height: 100%;
        position: absolute;
        left: 0px;
        top: 0px;
        z-index: -1;
        transition: all 1.5s;
    }
    
    
    #back_img {
        width: 100%;
        height: 100%;
    }
    
    #low_control_bar{
        background: url(../../media/IMG/menu_bar.png);
        position: fixed;
        top: 88%;
        left: 0%;
        background-size: contain;
        background-repeat: no-repeat;
        z-index: 7;
        width: 104%;
        height: 16%;
    }

/** DIAMON FIRS BUTTON **/
    .game_clue_1 {
        background: url(../../media/IMG/diamond_button.png);
        position: fixed;
        top: 92%;
        left: 20%;
        background-size: contain;
        background-repeat: no-repeat;
        z-index: 7;
        width: 3%;
        height: 4%;        
    }

    .game_clue_1_y {
        background: url(../../media/IMG/yellow_diamon_button.png);
        position: fixed;
        top: 92%;
        left: 20%;
        background-size: contain;
        background-repeat: no-repeat;
        z-index: 7;
        width: 3%;
        height: 4%;
        
    }

/** DIAMON SECOND BUTTON **/

    .game_clue_2 {
        background: url(../../media/IMG/diamond_button.png);
        position: fixed;
        top: 92%;
        left: 24%;
        background-size: contain;
        background-repeat: no-repeat;
        z-index: 7;
        width: 3%;
        height: 4%;
    }
    .game_clue_2_y {
        background: url(../../media/IMG/yellow_diamon_button.png);
        position: fixed;
        top: 92%;
        left: 24%;
        background-size: contain;
        background-repeat: no-repeat;
        z-index: 7;
        width: 3%;
        height: 4%;
        transition: 1s;
    }

/** DIAMON THIRD BUTTON **/

    .game_clue_3 {
        background: url(../../media/IMG/diamond_button.png);
        position: fixed;
        top: 92%;
        left: 28%;
        background-size: contain;
        background-repeat: no-repeat;
        z-index: 7;
        width: 3%;
        height: 4%;
    }

    .game_clue_3_y {
        background: url(../../media/IMG/yellow_diamon_button.png);
        position: fixed;
        top: 92%;
        left: 28%;
        background-size: contain;
        background-repeat: no-repeat;
        z-index: 7;
        width: 3%;
        height: 4%;
    }

/** DIAMON FORTH BUTTON **/

    .game_clue_4 {
        background: url(../../media/IMG/diamond_button.png);
        position: fixed;
        top: 92%;
        left: 32%;
        background-size: contain;
        background-repeat: no-repeat;
        z-index: 7;
        width: 3%;
        height: 4%;
    }

    .game_clue_4_y {
        background: url(../../media/IMG/yellow_diamon_button.png);
        position: fixed;
        top: 92%;
        left: 32%;
        background-size: contain;
        background-repeat: no-repeat;
        z-index: 7;
        width: 3%;
        height: 4%;
    }


/** DIAMON FIVTH BUTTON **/

    .game_clue_5 {
        background: url(../../media/IMG/diamond_button.png);
        position: fixed;
        top: 92%;
        left: 36%;
        background-size: contain;
        background-repeat: no-repeat;
        z-index: 7;
        width: 3%;
        height: 4%;
    }

    .game_clue_5_y {
        background: url(../../media/IMG/yellow_diamon_button.png);
        position: fixed;
        top: 92%;
        left: 36%;
        background-size: contain;
        background-repeat: no-repeat;
        z-index: 7;
        width: 3%;
        height: 4%;
    }


    #game_float {
        background: url(../../media/IMG/float_button.png);
        position: fixed;
        top: 91%;
        left: 5%;
        background-size: contain;
        background-repeat: no-repeat;
        z-index: 7;
        width: 4.5%;
        height: 6%;
    }

    #game_compass {
        background: url(../../media/IMG/Compass_button.png);
        position: fixed;
        top: 90%;
        left: 11%;
        background-size: contain;
        background-repeat: no-repeat;
        z-index: 7;
        width: 6%;
        height: 7%;
    }
    
    #close_botton {
        background: url(../../media/IMG/brb_button.png);
        position: fixed;
        top: 91%;
        left: 90%;
        background-size: contain;
        background-repeat: no-repeat;
        z-index: 7;
        width: 5%;
        height: 6%;
    }