#rat{
    background: url(../../media/IMG/rat.png);
    position: absolute;
    background-size: contain;
    background-repeat: no-repeat;
    width: 8%;
    height: 2%;
    top: 85%;
    left: -9%;
    z-index: 1
}

#rat {
    animation: rat 100s infinite linear;
}

@keyframes rat {
    0% {
        top: 85%;
        left: -9%;
    }
    4% {
        top: 84%;
        left: 12%;
    }
    8% {
        top: 84%;
        left: 12%;
    }
    11% {
        top: 76%;
        left: 31%;
        z-index: -1;    
    }
    21% {
        top: 76%;
        left: 31%;
        z-index: -1;
    }
    22% {
        top: 78%;
        left: 60%;
        z-index: -1;
        z-index: -1;
    }40% {
        top: 82%;
        left: 76%;
        z-index: -1;
    }
    45% {
        top: 82%;
        left: 76%;
        z-index: -1;
    }
    60% {
        top: 88%;
        left: 81%;
        z-index: 6;   
    }
    100% {
        top: 88%;
        left: -9%;  
    }
}
    